<div class="container">
    <footer class="pb-1 pt-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Quick navigation</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a
                            routerLink="dashboard"
                            class="nav-link p-0 text-body-secondary"
                            >Home</a
                        >
                    </li>
                    <li class="nav-item mb-2">
                        <a
                            routerLink="users"
                            class="nav-link p-0 text-body-secondary"
                            >Users</a
                        >
                    </li>
                    <li class="nav-item mb-2">
                        <a
                            routerLink="expeditions"
                            class="nav-link p-0 text-body-secondary"
                            >Expeditions</a
                        >
                    </li>
                    <li class="nav-item mb-2">
                        <a
                            routerLink="about"
                            class="nav-link p-0 text-body-secondary"
                            >About</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
